$kulfont: "kulturista-web",serif;
//300: light / light italic
//400: medium
//600: semi-bold
//700: bold
$nimbusfont: "nimbus-sans",sans-serif;

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: .2em 0;
	font-weight: 600;
	font-family: $kulfont;
}

h1 {
	font-size: 1.7em;
	line-height: 45px;
}
h2 {
	font-size: 1.5em;
	line-height: 40px;
}
h3 {
	font-size: 1.3em;
	line-height: 35px;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
	line-height: 25px;
}
h6 {
	font-size: 1em;
	line-height: 25px;
}

p{
	line-height: 1.5em;
	margin-bottom: 0.8em;
}